.center{
    text-align: center;
}

.resume{
    font-family:'Times New Roman', Times, serif;
    color:black
}

.underline{
    text-decoration:underline
}

.bolden{
    font-weight:bolder
}

.main1{
    font-weight:bold
}

.main2{
    font-style:italic
}

body{
    background-color: antiquewhite;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 5px solid black;
    margin: 40px;
    padding: 100px;
}

ul{
    list-style-position: inside;
    font-family: 'Calibri, 'Trebuchet MS', sans-serif;
}

ol{
    list-style-position: inside;
    color:darkred;
    font-family: 'Calibri, 'Trebuchet MS', sans-serif;
}